html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #070b1b;
  overflow-x: hidden;
}

.mono-icon {
  color: #111827;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mono-icon.inline {
  margin-right: 8px;
  vertical-align: -0.2em;
}

.mono-icon.light {
  color: #fff;
}

#root {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
